Directorios de entornos virtuales
.venv/
venv/
env/

Archivos de compilación de Python
pycache/
*.pyc
*.pyo
*.pyd
*.pdb

Archivos de paquetes
*.egg
*.egg-info/
dist/
build/
.eggs/

Archivos de configuración sensibles
*.env
config.json

Configuración de IDEs
.vscode/
.idea/
*.swp
*.swo

Archivos de logs y reportes de pruebas
*.log
*.coverage
htmlcov/
.coverage
pytest_cache/
*.html
*.xml

Archivos de sistema
.DS_Store
Thumbs.db